<template>
  <div class="w-full py-2">
    <h2 class="text-center text-gray-600 text-xl px-6">
      {{ title }}
    </h2>
    <!-- Step1 -->
    <div class="px-2 relative mt-10 flex flex-col">
      <img :src="step1.image" alt="" :class="[step1.class]">
      <div class="flex items-end">
        <div class="relative text-gray-steps text-[130px] text-lato leading-[0.75] align-text-bottom">
          1.
        </div>
        <div class="text-sm leading-none ml-3 text-gray-steps">
          {{ step1.title }}
        </div>
      </div>
    </div>
    <div class="px-1 py-3 relative mt-3 step2-background flex flex-col pb-12">
      <div class="flex items-end pl-6 mt-10 relative z-10">
        <div class="relative text-gray-steps text-[130px] text-lato leading-[0.75] align-text-bottom z-10">
          2.
        </div>
        <div class="text-sm leading-none ml-3 text-gray-steps relative z-10">
          {{ step2.title }}
        </div>
      </div>
      <img :src="step2.image" alt="" :class="[step2.class]">
    </div>
    <div class="px-1 pb-3 relative flex flex-col">
      <div class="flex items-end pl-12 relative z-10">
        <div class="relative text-gray-steps text-[130px] text-lato leading-[0.75] align-text-bottom z-10">
          3.
        </div>
        <div class="text-sm leading-none ml-3 text-gray-steps relative z-10" :class="[getStepTitleClass($attrs.step)]">
          {{ step3.title }}
        </div>
      </div>
      <img :src="step3.image" alt="" :class="[step3.class]">
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    steps: {
      type: Array,
      default: () => ([])
    }
  },
  data: () => ({
    step1: {},
    step2: {},
    step3: {}
  }),
  watch: {
    steps: {
      immediate: true,
      handler () {
        if (this.steps && this.steps.length) { [this.step1, this.step2, this.step3] = this.steps }
      }
    }
  },
  methods: {
    getStepTitleClass (step) {
      const stepSwitch = s => ({
        1: 'mb-6',
        2: 'mb-3',
        3: 'mb-0'
      })[s]
      return stepSwitch(step)
    }
  }
}
</script>

<style lang="scss" scoped>
  .step2-background {
    background: transparent linear-gradient(134deg, #E6FFFA 0%, #EBF4FF 100%) 0% 0% no-repeat padding-box;
  }
</style>
