<template>
  <div class="w-full h-16 bg-white rounded-t-xl top-shadow">
    <div class="flex justify-center items-center h-full p-4">
      <button type="button" class="register-button font-lato text-sm text-white font-normal w-full rounded-xl p-1.5 text-center opacity-100 hover:opacity-90 transition">
        Kostenlos Registrieren
      </button>
    </div>
  </div>
</template>

<style scoped lang="scss">
  .top-shadow {
    box-shadow: 0 -6px 15px -3px rgba(0, 0, 0, 0.1), 0 -6px 6px -2px rgba(0, 0, 0, 0.05);
  }
  .register-button {
    background: transparent linear-gradient(95deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
  }
</style>
