<template>
  <div class="flex p-4 overflow-x-auto flex-row">
    <div
      v-for="(tab, i) in tabs"
      :key="i"
      class="flex-none border border-solid border-gray-300 first:rounded-l-lg last:rounded-r-xl text-aqua w-56 p-1.5 text-center transition"
      :class="[isTabSelected(tab)]"
      @click.prevent="$emit('update:tab', tab)"
    >
      {{ tab.name }}
    </div>
  </div>
</template>
<script>
export default {
  props: {
    tabs: {
      type: Array,
      default: () => ([])
    },
    currentTab: {
      type: Object,
      required: true
    }
  },
  data: () => ({
  }),
  methods: {
    isTabSelected (tab) {
      if (this.currentTab.id === tab.id) {
        return 'text-lightaqua bg-bgaqua border-bgaqua'
      }
      return 'text-aqua hover:text-lightaqua hover:bg-bgaqua'
    }
  }
}
</script>
