<template>
  <div class="w-full h-16 bg-white rounded-b-xl shadow-lg">
    <div class="gradient-background h-1 w-full relative top-0" />
    <div class="flex justify-end items-center h-full p-4">
      <button type="button" class="font-lato text-sm text-aqua font-semibold">
        Login
      </button>
    </div>
  </div>
</template>

<style scoped lang="scss">
.gradient-background {
    background: transparent linear-gradient(91deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
  }
</style>
