<template>
  <div class="bg-white container mx-auto">
    <div class="bg-white min-h-screen w-full flex">
      <top-bar class="fixed top-0 z-10" />
      <nuxt class="flex-grow-1 overflow-y-auto z-0" />
      <bottom-bar class="fixed bottom-0 z-10" />
    </div>
  </div>
</template>

<script>
import TopBar from '@/components/TopBar.vue'
import BottomBar from '@/components/BottomBar.vue'

export default {
  components: {
    TopBar,
    BottomBar
  }
}
</script>
