<template>
  <div class="min-h-full w-full mb-16">
    <div class="min-h-screen bg-primary-gradient relative py-16">
      <h1 class="text-5xl font-lato text-gray-title text-center my-8 px-6">
        Deine Job website
      </h1>
      <img src="/img/agreement.svg" alt="" class="w-full bottom-0">
    </div>
    <tabs :tabs="tabs" :current-tab="currentTab" @update:tab="updateCurrentTab" />
    <step v-bind="stepsInformation[currentTab.id]" />
  </div>
</template>

<script>
import Tabs from '@/components/Tabs.vue'
import Step from '@/components/Steps/Index.vue'

export default {
  components: { Tabs, Step },
  data: () => ({
    tabs: [
      {
        id: 1,
        name: 'Arbeitnehmer'
      },
      {
        id: 2,
        name: 'Arbeitgeber'
      },
      {
        id: 3,
        name: 'Temporärbüro'
      }
    ],
    stepsInformation: {
      1: {
        step: 1,
        title: 'Drei einfache Schritte zu deinem neuen Job1',
        steps: [
          {
            title: 'Erstellen dein Lebenslauf',
            image: require('./../static/img/Step1/1.svg'),
            class: 'relative -mb-12 w-52 h-auto self-center -mr-8'
          },
          {
            title: 'Erstellen dein Lebenslauf',
            image: require('./../static/img/Step1/2.svg'),
            class: 'relative mt-8 w-48 h-auto self-center -mr-8'
          },
          {
            title: 'Mit nur einem Klick bewerben',
            image: require('./../static/img/Step1/3.svg'),
            class: 'relative mt-4 w-56 h-auto self-end mr-4'
          }
        ]
      },
      2: {
        step: 2,
        title: 'Drei einfache Schritte zu deinem neuen Mitarbeiter',
        steps: [
          {
            title: 'Erstellen dein Unternehmensprofil',
            image: require('./../static/img/Step2/1.svg'),
            class: 'relative -mb-12 w-52 h-auto self-center -mr-8'
          },
          {
            title: 'Erstellen ein Jobinserat',
            image: require('./../static/img/Step2/2.svg'),
            class: 'relative -mt-6 w-56 h-auto self-center '
          },
          {
            title: 'Wähle deinen neuen Mitarbeiter aus',
            image: require('./../static/img/Step2/3.svg'),
            class: 'relative mt-8 w-56 h-auto self-center'
          }
        ]
      },
      3: {
        step: 3,
        title: 'Drei einfache Schritte zur Vermittlung neuer Mitarbeiter',
        steps: [
          {
            title: 'Erstellen dein Unternehmensprofil',
            image: require('./../static/img/Step3/1.svg'),
            class: 'relative -mb-12 w-52 h-auto self-center -mr-8'
          },
          {
            title: 'Erhalte Vermittlungs- angebot von Arbeitgeber',
            image: require('./../static/img/Step3/2.svg'),
            class: 'relative mt-8 w-48 h-auto self-center -mr-8'
          },
          {
            title: 'Vermittlung nach Provision oder Stundenlohn',
            image: require('./../static/img/Step3/3.svg'),
            class: 'relative mt-8 w-56 h-auto self-center'
          }
        ]
      }
    },
    currentTab: {}
  }),
  mounted () {
    [this.currentTab] = this.tabs
  },
  methods: {
    updateCurrentTab (tab) {
      this.currentTab = tab
    }
  }
}

</script>

<style scoped lang="scss">
  .bg-primary-gradient {
    background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
  }
</style>
